@font-face {
    font-family: Cinzel;
    src: url(../fonts/Cinzel/Cinzel-VariableFont_wght.ttf);
}
@font-face {
    font-family: Spectral;
    src: url(../fonts/Spectral/Spectral-Regular.ttf);
}
@font-face {
    font-family: Syne Mono;
    src: url(../fonts/Syne_Mono/SyneMono-Regular.ttf);
}

:root{
    --spectral: Spectral, Arial, sans-serif;
    --cinzel: Cinzel, Arial, sans-serif;
    --syne: Syne Mono, Arial, sans-serif;
}

p{
    font-family: var(--spectral);
    color: silver;
    font-size: 16px;
    margin: 10px 0;
}
h1, h2{
    font-family: var(--cinzel);
}
img{
    max-width: 450px;
}

div[class^="tabla"] {
    padding: 20px;
    width: 80%;
    max-width: 450px;
    margin: 0 auto;
    border: 2px solid darkblue;
    border-radius: 2%;
    background-color: rgba(140, 140, 140, 0.4);
}

ul{
    margin: 10px;
}

.nav{
    margin: 10px auto;
    width: 100%;
    text-align: center;
    background-color: black;
    color: white;
    padding: 20px;
    position: sticky;
    top: 0;
}

.nav a{
    margin: 20px;
    text-decoration: none;
    color: white;
    font-family: var(--cinzel);
}

.nav a:hover{
    color: silver;
}

.video{
    width: 80%;
    margin: 0 auto;
    display: block;
}

.seccion{
    background: rgba(0, 0, 0, 0.8);
    width: 80%;
    margin: 10px auto;
    font-family: var(--spectral);
    color: silver;
    padding: 10px;
}

.personajes section h2{
    margin-top: 20px;
    text-align: center;
    color: slategrey;
}
.personajes img{
    max-width: 300px;
}
.bestiario section h2{
    text-align: center;
    color: crimson;
    border-bottom:2px solid crimson;
    width: 70%;
    margin: 20px auto;
}
.bestiario img{
    max-width: 450px;
    width: 100%;

}
.bestiario figcaption{
    text-align: center;
    font-family: var(--cinzel);
    color: crimson;
    margin: 20px auto;
}

.spoiler{
    background: rgba(0, 1, 59, 0.8);
    width: 100%;
    margin: 10px auto;
    font-family: var(--spectral);
    color: silver;
    padding: 10px;
    text-align: center;
    color: darkred;
    font-family: var(--syne);
}

/* Ajustes de tabla de armas */

.div-tabla-arsenal{
    overflow-x: auto;
}

.tabla-arsenal{
    margin: 0 auto;
}

.tabla-arsenal td{
    border-bottom: 1px solid grey;
    height: 131px;
}
.descArma{
    border-right: 1px solid grey;
    border-left: 1px solid grey;
    padding: 5px;
    text-align: center;
}
.arma{
    width: 120px;
    height: 100px;
    background-size: cover;
    margin: 0 auto;
}


/* Sprites armas */ 

.crissaegrim{
    background-image: url(../sprites/swords-sprites.png);
    background-position: 0px -220px;
    
}
.heavenSword{
    background-image: url(../sprites/swords-sprites.png);
    background-position: 0px 230px;
}
.jewelSword{
    background-image: url(../sprites/swords-sprites.png);
    background-position: 0px -330px;
}
.marsil{
    background-image: url(../sprites/swords-sprites.png);
    background-position: 0px 350px;
}
.masamune{
    background-image: url(../sprites/swords-sprites.png);
    background-position: 0px -440px;
}
.mourneblade{
    background-image: url(../sprites/swords-sprites.png);
    background-position: 0px 0px;
}
.muramasa{
    background-image: url(../sprites/swords-sprites.png);
    background-position: 0px -110px;
}
.osafune{
    background-image: url(../sprites/swords-sprites.png);
    background-position: 0px 110px;
}
.runeSword{
    background-image: url(../sprites/swords-sprites.png);
    background-position: 0px -560px;
}
.yasutsuna{
    background-image: url(../sprites/swords-sprites.png);
    background-position: 0px 460px;
}

/* Estilo Footer*/

.footer{
    width: 100%;
    background-color: black;
    padding-bottom: 10px;
    color: silver;
    font-family: var(--syne);
}
.footer img{
    max-width: 400px;
}
.footer div{
    display: inline-block;
    text-align: center;
}
.img-footer{
    width: 60%;
}
.rrss img{
    display: inline-block;
    width: 20%;
    max-width: 40px;
}


@media only screen and (max-width: 600px){
    
    body{
        background-image: url(../pics/fondo.jpg);
        background-attachment: fixed;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .nav{
        display: none;
    }
    .video{
        width: 100%;
    }
    .imgchiquita-movil{
        width: 60% !important;
    }
    .logo{
        float: left;
        margin-top: 10px;
        width: 80%;
        left: 20%;
        
    }
    .fa-solid {
        float: left;
        padding: 11% 0;
        width: 15%;
        color: darkgrey;
        text-align: center;
        font-size: 50px;
    }

}
@media only screen and (min-width: 600px){
    body{
        background-image: url(../pics/fondo-tablet.jpg);
        background-attachment: fixed;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .imgchiquita-movil{
        width: 40% !important;
    }

    .intro img{
        float: left;
        margin-right: 10px;
        margin-bottom: 10px;
    }
    .historia img{
        float: left;
        margin-right: 10px;
        margin-bottom: 10px;

    }
    
    div[class^="tabla"] {
        padding: 20px;
        width: 80%;
        margin: 0 auto;
        border: 2px solid darkblue;
        border-radius: 2%;
        background-color: rgba(140, 140, 140, 0.4);
    }

    .imgchiquita-tablet{
        width: 40% !important;
        float: left;
        margin-right: 10px !important;
        margin-top: 0px !important;
        
    }

    

    /* Estilos header tablet*/

    .logo--tablet{
        margin: 0 auto;
        display: block;
        margin-top: 10px;
    }
    .header i{
        display: none;
    }
}
@media only screen and (min-width: 1200px){
    body{
        background-image: url(../pics/fondo-pc.jpg);
        background-attachment: fixed;
        background-position: -2px 0px;
        background-size: cover;
        background-repeat: repeat;
    }

    div[class^="tabla"] {
        padding: 20px;
        width: 80%;
        margin: 0 auto;
        border: 2px solid darkblue;
        border-radius: 2%;
        background-color: rgba(140, 140, 140, 0.4);
        float: none;

    }

    .bestia{
        border: 1px solid grey;
        padding: 10px;
        margin-top: 10px;
    }

    .personajes p{
        padding: 0 20px;
    }



}