@font-face {
    font-family: Cinzel;
    src: url(/fonts/Cinzel/Cinzel-VariableFont_wght.ttf);
}
@font-face {
    font-family: Spectral;
    src: url(/fonts/Spectral/Spectral-Regular.ttf);
}
@font-face {
    font-family: Syne Mono;
    src: url(/fonts/Syne_Mono/SyneMono-Regular.ttf);
}

:root{
    --spectral: Spectral, Arial, sans-serif;
    --cinzel: Cinzel, Arial, sans-serif;
    --syne: Syne Mono, Arial, sans-serif;
}

p{
    font-family: var(--spectral);
    color: silver;
    font-size: 16px;
    margin: 10px 0;
}
h1, h2{
    font-family: var(--cinzel);
}
div[class^="tabla"] {
    padding: 20px;
    width: 80%;
    margin: 0 auto;
    border: 2px solid darkblue;
    border-radius: 2%;
    background-color: rgba(140, 140, 140, 0.4);
}

@media only screen and (max-width: 600px){
    body{
        background-image: url(/pics/fondo.jpg);
        background-attachment: fixed;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .logo{
        float: left;
        margin-top: 10px;
        width: 80%;
        left: 20%;
        
    }
    .fa-solid {
        float: left;
        padding: 11% 0;
        width: 15%;
        color: darkgrey;
        text-align: center;
        font-size: 50px;
    }
    .intro{
        background: rgba(0, 0, 0, 0.6);
        width: 80%;
        margin: 10px auto;
        font-family: var(--spectral);
        color: silver;
        padding: 10px;
    }
    .historia{
        background: rgba(0, 0, 0, 0.6);
        width: 80%;
        margin: 10px auto;
        font-family: var(--spectral);
        color: silver;
        padding: 10px;
    }
    .spoiler{
        background: rgba(0, 1, 59, 0.6);
        width: 100%;
        margin: 10px auto;
        font-family: var(--spectral);
        color: silver;
        padding: 10px;
        text-align: center;
        color: darkred;
        font-family: var(--syne);
    }
    .personajes{
        background: rgba(0, 0, 0, 0.6);
        width: 80%;
        margin: 10px auto;
        font-family: var(--spectral);
        color: silver;
        padding: 10px;
    }
    .personajes section h2{
        margin-top: 20px;
        text-align: center;
        color: slategrey;
    }
    .arsenal{
        background: rgba(0, 0, 0, 0.6);
        width: 80%;
        margin: 10px auto;
        font-family: var(--spectral);
        color: silver;
        padding: 10px;
    }

/* Ajustes de tabla de armas */

    .tabla-arsenal td{
        border-bottom: 1px solid grey;
        height: 131px;
    }
    .descArma{
        border-right: 1px solid grey;
        border-left: 1px solid grey;
        padding: 5px;
        text-align: center;
    }

    /* Sprites armas */ 

    .crissaegrim{
        background-image: url(/sprites/swords-sprites.png);
        width: 100px;
        background-size: cover;
        background-position: 0px -160px;
    }
    .heavenSword{
        background-image: url(/sprites/swords-sprites.png);
        background-size: cover;
        background-position: 0px 210px;
    }
    .jewelSword{
        background-image: url(/sprites/swords-sprites.png);
        background-size: cover;
        background-position: 0px -255px;
    }
    .marsil{
        background-image: url(/sprites/swords-sprites.png);
        background-size: cover;
        background-position: 0px 310px;
    }
    .masamune{
        background-image: url(/sprites/swords-sprites.png);
        background-size: cover;
        background-position: 0px -345px;
    }
    .mourneblade{
        background-image: url(/sprites/swords-sprites.png);
        background-size: cover;
        background-position: 0px 20px;
    }
    .muramasa{
        background-image: url(/sprites/swords-sprites.png);
        background-size: cover;
        background-position: 0px -70px;
    }
    .osafune{
        background-image: url(/sprites/swords-sprites.png);
        background-size: cover;
        background-position: 0px 110px;
    }
    .runeSword{
        background-image: url(/sprites/swords-sprites.png);
        background-size: cover;
        background-position: 0px -440px;
    }
    .yasutsuna{
        background-image: url(/sprites/swords-sprites.png);
        background-size: cover;
        background-position: 0px -530px;
    }


}
@media only screen and (min-width:  600px){

}
@media only screen and (min-width: 1200px){
    
}